%h3 PROYECTOS
.row
  .col-sm-10
    %table#datagrid.table.table-condensed.table-hover
      %thead
        %tr.info
          %th Codigo
          %th Nombre
          %th Activo
          %th Acciones
      %tbody
        - @proyectos.each do |proyecto|
          %tr
            %td= proyecto.codigo
            %td= proyecto.nombre
            %td.centered
              - if proyecto.activo
                %i.fa.fa-check.text-success
              - else
                %i.fa.fa-times.text-danger
            %td.centered
              = link_to edit_proyecto_path(proyecto) do
                %i.fa.fa-pencil.text-primary{'title' => 'Editar'}
              \|
              = link_to proyecto, method: :delete, data: { confirm: 'Está seguro?' } do
                %i.fa.fa-trash-o.text-danger{'title' => 'Borrar'}
%br
=link_to  new_proyecto_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  NUEVO PROYECTO
