%h2 Proyectos
.row
  .col-md-10
    %table#datagrid.table.table-condensed.table-hover
      %thead
        %tr
          %th Codigo
          %th Nombre
          %th Activo
          %th Acciones
      %tbody
        - @proyectos.each do |proyecto|
          %tr
            %td= proyecto.codigo
            %td= proyecto.nombre
            %td.centered
              - if proyecto.activo
                %i.fa.fa-check-square-o.btn.btn-xs.btn-success
              - else
                %i.fa.fa-square-o.btn.btn-xs.btn-default
            %td.centered
              = link_to edit_proyecto_path(proyecto) do
                %i.fa.fa-pencil.btn.btn-xs.btn-primary{'title' => 'Editar'}
              = link_to proyecto, method: :delete, data: { confirm: 'Está seguro?' } do
                %i.fa.fa-trash-o.btn.btn-xs.btn-danger{'title' => 'Borrar'}
%br
=link_to  new_proyecto_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  Nuevo Proyecto
