%h3 SECCIONES
.row
  .col-sm-11
    %table#datagrid.table.table-condensed.table-hover
      %thead
        %tr.info
          %th Codigo
          %th Nombre
          %th Activo
          %th Acciones
      %tbody
        - @seccions.each do |seccion|
          %tr
            %td= seccion.codigo
            %td= seccion.nombre
            %td.centered
              - if seccion.activo
                %i.fa.fa-check.text-success
              - else
                %i.fa.fa-times.text-danger
            %td.centered
              = link_to edit_seccion_path(seccion) do
                %i.fa.fa-pencil.btn.btn-xs.btn-primary{'title' => 'Editar'}
              = link_to seccion, method: :delete, data: { confirm: 'Está seguro?' } do
                %i.fa.fa-trash-o.btn.btn-xs.btn-danger{'title' => 'Borrar'}
%br
=link_to  new_seccion_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  NUEVA SECCIÓN
