%h3 Sucursales
.row
  .col-sm-10
    %table#datagrid.table.table-condensed.table-hover
      %thead
        %tr.info
          %th Codigo
          %th Nombre
          %th Activo
          %th Acciones
      %tbody
        - @sucursals.each do |sucursal|
          %tr
            %td= sucursal.codigo
            %td= sucursal.nombre
            %td.centered
              - if sucursal.activo
                %i.fa.fa-check.text-success
              - else
                %i.fa.fa-times.text-danger
            %td.centered
              = link_to edit_sucursal_path(sucursal) do
                %i.fa.fa-pencil.text-primary{'title' => 'Editar'}
              \|
              = link_to sucursal, method: :delete, data: { confirm: 'Está seguro?' } do
                %i.fa.fa-trash-o.text-danger{'title' => 'Borrar'}
%br
=link_to  new_sucursal_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  Nueva Sucursal

