/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree
*= require_self
*= require font-awesome
*= require toastr
*/


wrapper {
  padding: 0px;
  margin: 0px;
}
.left-sidebar {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.container {
  max-width: 100%;
  width: 100%;
}

.navbar-top {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.main-container {
  padding: 10px;
  margin: 0px;
}

#accordion a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
panel a {
  font-weight: bolder;
}

.centered {
  text-align: center;
}

thead > tr > th {
  text-align: center;

}

#center-container {
  padding: 20px;
  margin-top: 10px;
}

#accordion {
  margin-top: 20px;
}

.aside-title {
  margin-left: 10px;
  font-weight: bold;
}

.panel-collapse {
  margin-left: 15px;
}

body {
  background-image: url(/assets/light_wool.png);
}

.hora {
  padding-top: 0;
}

.horario {
  padding: 1px;
}

.nav-stacked > li > a:hover,
.nav-stacked > li > a:focus,
.nav-stacked > li > a:focus
{
  background-color: transparent;
  -webkit-transform: scale(1);
}

 .form-horizontal > .form-group {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.container-show {
  padding: 10px;
}

.form-show {
  padding-bottom: 10px;
}

.modal-container {
  padding: 10px;
}
#advertencia {
  margin: auto;
}

#nav-container {
  margin-left: 50px;
  margin-right: 50px;
}

.actions {
  text-align: right;
}
