// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-panel {
  background: #008CBA;
  padding: -45px;
  width: 600px;
  height: 250px;
  color: #fff;
  vertical-align: bottom;
  min-height: 100%;
  margin-top: 300px;
}
